<p >Sepetinizde {{cartItems.length}} ürün var.</p>

    <span   style="color: rgb(130, 218, 245); float: right;background-color: black;">Today is {{today | date:"medium"}}</span>
 
<input class="form-control" type="search" [(ngModel)]="filterText" placeholder="Search" style="width: 300px;">
<!-- <p *ngIf="productList" >Sepetinizde {{filterText.length}} ürün var.</p> -->
<ng-template [ngIf]="productList" [ngIfElse]="loading">
    <div *ngIf="productList.length >0; else emptyProduct">
    <div class="row">   
        <ng-container *ngIfNot="(productList | filterProduct:filterText)?.length === 0; else notFound" > 
            <div class="col-4" *ngFor="let p of productList | filterProduct:filterText" >                 
                <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>                                 
            </div>
        </ng-container> 
        </div>
    </div>
</ng-template>

<ng-template #emptyProduct>
    <div class="alert alert-danger" role="alert">
        Products out of stock
    </div>
</ng-template>
<ng-template #loading>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</ng-template>
<ng-template #notFound>No Result Found!</ng-template> 
<div *appIfNot="(productList | filterProduct:filterText)?.length!==0">No Result Found!</div> 




<!-- <div class="row">
        <div *ngFor="let p of productList" class="col-4">
            <etiya-product-card (onBtnClick)="addToCart($event)" [product]="p"></etiya-product-card>
        </div>
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->