nav{
    background-color: #01194D;
    height: 80px;
}

.d-flex .btn-light:hover{
    background-color: #f5821f;
    color: #C2BFB0;
    border-color: #f5821f;
}

.d-flex .btn-light{
    background-color: transparent;
   
    border-color: #f5821f;
    margin-left: 10px;
}

.d-flex .btn-outline-light{
    margin-right: 10px;
}
