<div class="main" >
 
    <div class="container">
        <br><br>
        <p><b>➤Yazılım Geliştirici Yetiştirme Kampı ücretsiz mi olacak? </b><span>Evet, ücretsiz olacak.</span></p>
        
        <p><b>➤Yazılım Geliştirici Yetiştirme Kampı nerede yayınlanacak?</b><span>Kampımız canlı olarak yayınlanacak. Canlı yayın YouTube kanalımda gerçekleşecek. Canlı yayın alanına ulaşmak için tıklayınız. Yayın saatini kaçırmamak için kanala abone olup hatırlatıcı eklemeyi unutmayınız. Canlı yayın sonrası videolar, ödevler ve testler kodlama.io 'da yayınlanacak.</span></p>
        
        <p><b>➤Yazılım Geliştirici Yetiştirme Kampının canlı yayın tarihi ne zaman ve saat kaçta başlayacak? Bir canlı yayın süresi ne kadar olacak? Canlı yayın hangi günlerde yapılacak?</b></p>
        <p>Canlı yayın balangıç tarihi : 9 Ocak Cumartesi 2021</p>

        <p>Canlı yayın saati : 21.00</p>
            
        <p>Canlı yayın süresi : 3 ders saati</p>    
            
        <p>Canlı yayın günleri : Çarşamba ve Cumartesi (İlk canlı ders tarihini takip eden her haftanın Çarşamba ve Cumartesi günlerinde devam edecek)</p>
        
        <p>
            <b>
              ➤Yazılım Geliştirici Yetiştirme Kamp programı ne kadar sürecek?  
            </b>
            <span>
                Ücretsiz olarak vereceğim bu kamp 2 ay boyunca sürecek.
            </span>
        </p>

        <p>
            <b>
                ➤Kamp programında neler olacak?  
            </b>
            <span>
                Detaylı kamp programına ulaşmak için bağlantıyı tıklayınız.
            </span>
        </p>

        <p>
            <b>
                ➤Canlı yayın sonrası videolar, ödevler ve testler olacak mı? Olacak ise bunlara nasıl ulaşabilirim?  
            </b>
            <span>
                Evet, canlı yayın sonrası videolar, ödevler ve testler olacak. Kodlama.io 'da Yazılım Geliştirici Yetiştirme Kampının içinde bulunan ders programınıza ekleyeceğiz.
            </span>
        </p>

        <p>
            <b>
                ➤Yazılım Geliştirici Yetiştirme Kampından en büyük verimi nasıl alabilirim? Kamp sırasında neler yapmamı önerirsiniz?  
            </b>
            <span>
                1-İki ekranda takip etmeye çalışın. (Bu ekranlardan birinde beni izlerken diğerinde kod yazıp, soru cevap platformumuzdan destek alabilirsiniz. Yardımcı ekran tablet, monitör veya evdeki HDMI destekli TV olabilir.)

                2-İkinci ekran yoksa? (Bu durumda bilgisayar ekranınızı ikiye bölebilirsiniz. Windows + Sol Yön tuşuyla mevcut ekranı sola, Windows + sağ yön tuşu ikilisiyle de mevcut diğer ekranı sağa atabilirsiniz. Öncesinde deneyiniz.)

                3-Ne kurmalıyım? (Eğitimin ilk günü için bir şey kurmanız gerekmiyor. Online editör kullanacağız. Repl.it sitesinden bir hesap açmanız yeterlidir. İkinci gün itibariyle Visual Studio kullanacağız. Sizin için bir kurulum videosu hazırladım.)
            </span>
        </p>

        <p>
            <b>
                ➤Yazılım Geliştirici Yetiştirme Kampından en büyük verimi nasıl alabilirim? Yazılım Geliştirici Yetiştirme Kampına katılmadan önce neler yapmamı önerirsiniz?  
            </b>
            <span>
                Herhangi bir programlama bilgisi tecrübeniz olması gerekmiyor. Fakat temel programlama tecrübenizin olması büyük avantaj sağlar. Bu yüzden aşağıdaki bana ait yine ücretsiz kaynaklara erişiminiz önemlidir.

                Eğer programlama tecrübeniz ve bilginiz hiç yok veya çok az ise tıklayınız,
                Yukarıdaki dersi bitirdim ama biraz daha örneğe ihtiyacım var diyorsanız tıklayınız,
                Temel seviyeden daha iyi durumdayım diyorsanız tıklayınız,
                İleri seviye olmak üzereyim diyorsanız tıklayınız,
            </span>
        </p>

        <p>
            <b>
                ➤Canlı yayına katılamayacak kişilerin, dersleri herhangi bir platform üzerinden takip etme, tekrarını izleme gibi bir şansı olacak mı?  
            </b>
            <span>
                Evet, canlı yayından sonra kodlama.io 'ya ekleyeceğiz. Katılamadığınız veya tekrar izlemek istediğiniz yayınlara kodlama.io 'dan ulaşabilirsiniz.
            </span>
        </p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>
<app-footer></app-footer>